*{
    
    padding: 0 5px;
}

header, aside, section{
    border: solid 0.1px;
}

.floLeft{
    float: left;
}

section *{
    float: left;
}

footer{
    display: none;
    bottom: 0;
    position: absolute;
}

.imgtoto{
    height: 20%;
    width: 20%;
    align: center;
}

.leftPart{
    float: left;
    width: 75%;
}

.rightPart{
    float: left;
    width: auto;
}

.textAlignbot *{
    float: left;
}

article p{
    width: 80%;
    float: left;
}

.right2{
    width: 20%;
    float: left;
}

.left2{
    width: 75%;
    float: left;
}

.articleX3{
    width: 30%;
    float: left;
}